{{> navbar}}


<h1>Crear nuevo producto</h1>

<div class="classicDiv">
    <form action="/products" method="post">
        <label for="title" class="form-label">Título:</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Nombre del producto" required>
        <br>

        <label for="description" class="form-label">Descripción:</label>
        <input type="text" name="description" id="description" class="form-control" placeholder="Breve descripción" required>
        <br>

        <label for="code" class="form-label">Código:</label>
        <input type="text" name="code" id="code" class="form-control" placeholder="Código del producto" required>
        <br>
        
        <label for="thumbnail" class="form-label">Url imagen:</label>
        <input type="text" name="thumbnail" id="thumbnail" class="form-control" placeholder="URL a bucket que contenga la imagen" required>
        <br>
        
        <label for="price" class="form-label">Precio:</label>
        <input type="number" name="price" id="price" class="form-control" min="0" placeholder="999" required>
        <br>
        
        <label for="stock" class="form-label mt-3">Stock:</label>
        <input type="number" name="stock" id="stock" class="form-control" placeholder="Stock inicial" required>
        <br>

        <button type="submit" class="btn btn-success mt-3">Enviar</button>
    </form>

</div>