<div class="classicDiv m-4 p-4">
    <h1 class="text-center">Centro de mensajes</h1>
    {{!-- <h2 class="text-center">(Compresión: <span id="compressionSpan"></span>%)</h2> --}}


    <div id="chatLog" class="mb-2"></div>
    <hr>
    <div class="row justify-content-around">
        <input type="text" name="chatInput" id="chatInput" class="col-9 border-0 rounded" placeholder="Ingresá un mensaje...">
        <button id="messageBtn" class="btn btn-primary col-2">Enviar</button>
    </div>
</div>

<script></script>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>