<link rel="stylesheet" href="/css/fail.css">

<div id="failDiv" class="m-4 p-5 rounded container">
    <p id="failText" class="mb-5">USER ERROR {{type}}</p>
    <a href={{originalRoute}}>
        <button class="btn btn-warning">Volver</button>
    </a>
</div>